
/* hero background image */
.bgimage {
    height:100vh;
  background-color: darksalmon;
    background-size: auto;
    position:relative;
    
}




.eunjang {
    width: 130px;
}




/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    color: aliceblue;
    
}



.hero_desc {
    font-size: 2rem;
}




.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}





.card-text {
    font-size: 13px;
}



/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }



.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}



.card-title {
    text-align: center;
}



.form {
    margin-left: 500px;
    width: 500px;
}



#kontak {
    position: relative;
    display: flex;
    margin-left: 500px;
}



.portfolioContent{
left: 400px;
}



.card:hover .servicesIcon {
    color: #008000;
}



.servicesText:hover {
    border: 1px solid #008000;
}



.bio ul li {
    list-style-type: none;
}



/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgb(0, 0, 0);
    display:flex; 
    position: absolute;
}



/* spacing on all sections */
#about, #services, #portfolio, #contact, #footer {
    padding-top: 4.5rem;
    font-size: 15px;
    background-color: darksalmon;
}



#contact {
    padding-bottom: 4rem;
}



#footer {
padding-left: 30%;
top: 90%;
}


.nav-link {
    position: relative;
    text-align: center;
    justify-content: space-between;
    font-size: larger;

}


.navbar ul {
    float: right;
    font-size: 5px;
    
}



.navbar ul li {
    display: inline-block;
    margin-right: 0 5px;
    line-height: 50px;
    
}



.navbar ul li a {
    color: aliceblue;
    right:150px;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
    
   
}



a:hover {
    background: white;
    transition: .5s;
    border-radius: 20px;
    background-size: 30px;
    
}



#checkbtn,#check {
    color: white;
    font-size: 35px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}



#check {
    display: none;
}


@media (max-width:660px){
    
    .eunjang {
        width: 90px;
        margin-left:20px;
        margin-bottom: 40%;
    }
    .navbar {
        width: 100px;
        
    }
    .navbarDark {
    position: fixed;
     width: 300px;
     height: 120px;
     align-items: center;
     justify-content: space-around;
     display: block;
    }

    .navbar ul {
        position: relative;
        display: block;
        justify-content: space-between;
        margin-right: 200px;
        transition: .5s;
        font-family: monospace;
        
    }
    .navbar ul li a {
        font-size: 20px;
        float: left;
        font-size: 15px;
        line-height: 15px;
        margin-left: 260px;
        bottom: 200px;
        justify-content: center;
        align-items: center;
    }
    
    #check:checked ~ ul {
        display:none;
    }
    #check:checked ~ .eunjang {
        display: none;
    }

    
    .form {
        margin-left: 10px;
        width: 250px;
    }
    #kontak {
        position: relative;
        display: flex;
        margin-left: 80px;
    }
    .portfolioContent{
     left: 20px;
    }
    .navs {
        left: 100px;
        position: relative;
        display: flex;
        bottom: 100px;
    }
}
